{% if pageCount > 1 %}
    <ul class="pagination">
        {% if first is defined %}
            <li {% if current == first %}class="disabled"{% endif %}>
                <a href="{{ path(route, query|merge({(pageParameterName): first})) }}">
                    <i class="fa fa-angle-double-left"></i>
                </a>
            </li>
        {% endif %}

        {% if previous is defined %}
            <li {% if current == first %}class="disabled"{% endif %}>
                <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}">
                    <i class="fa fa-angle-left"></i>
                </a>
            </li>
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <li>
                    <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                </li>
            {% else %}
                <li class="active">
                    <a href="#">{{ page }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if next is defined %}
            <li {% if current == last %}class="disabled"{% endif %}>
                <a href="{{ path(route, query|merge({(pageParameterName): next})) }}">
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>
        {% endif %}

        {% if last is defined %}
            <li {% if current == last %}class="disabled"{% endif %}>
                <a href="{{ path(route, query|merge({(pageParameterName): last})) }}">
                    <i class="fa fa-angle-double-right"></i>
                </a>
            </li>
        {% endif %}
    </ul>
{% endif %}