{% extends 'MopaBootstrapBundle:Form:fields.html.twig' %}

{% block choice_widget %}
    {% spaceless %}

        {% if expanded %}
            {{ block('choice_widget_expanded') }}
        {% else %}
            {{ block('choice_widget_collapsed') }}
        {% endif %}

    {% endspaceless %}
{% endblock choice_widget %}


{% block choice_widget_collapsed %}
    {% spaceless %}
        {% set attr = attr|merge({'class': attr.class|default('') ~ ' select2 tag-input-style'}) %}
        {% if required and empty_value is none and not empty_value_in_choices %}
            {% set required = false %}
        {% endif %}
        <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
            {% if empty_value is not none %}
                <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
            {% endif %}
            {% if preferred_choices|length > 0 %}
                {% set options = preferred_choices %}
                {{ block('choice_widget_options') }}
                {% if choices|length > 0 and separator is not none %}
                    <option disabled="disabled">{{ separator }}</option>
                {% endif %}
            {% endif %}
            {% set options = choices %}
            {{ block('choice_widget_options') }}
        </select>
        {% if horizontal %}
            {{ block('form_message') }}
        {% endif %}
    {% endspaceless %}
{% endblock choice_widget_collapsed %}


{% block search_widget %}
    {% spaceless %}
        <div class="input-group">
            <input type="text" class="form-control search-query" placeholder="Type your query">
        <span class="input-group-btn">
            <button type="button" class="btn btn-purple btn-sm">
                Search
                <i class="icon-search icon-on-right bigger-110"></i>
            </button>
        </span>
        </div>
    {% endspaceless %}
{% endblock search_widget %}


{% block datetime_widget %}
    {% spaceless %}
        {% if widget == 'single_text' %}
            {% if datetimepicker is defined %}
                <div data-provider="datetimepicker" class="input-group date" data-date="{% if value %}{{ value|date('Y-m-d H:i') }}{% endif %}" data-link-field="{{ id }}" data-link-format="yyyy-mm-dd hh:ii">
                    <input class="form-control" type="text" {% if read_only %} readonly="readonly"{% endif %}{% if disabled %} disabled="disabled"{% endif %}{% if required %} required="required"{% endif %}>
                    <input type="hidden" value="{% if value %}{{ value|date('Y-m-d H:i') }}{% endif %}" {{ block('widget_attributes') }}>
                    <span class="input-group-addon"><span class="glyphicon glyphcon-th icon icon-th"></span></span>
                </div>
            {% else %}
                {{ block('form_widget_simple') }}
            {% endif %}
        {% else %}
            {% set attr = attr|merge({'class': attr.class|default('')}) %}
            <div {{ block('widget_container_attributes') }}>
                {{ form_errors(form.date) }}
                {{ form_errors(form.time) }}
                {{ form_widget(form.date, {'attr': {'class': attr.widget_class|default('')}, 'horizontal_input_wrapper_class': horizontal_input_wrapper_class|default('col-lg-3')}) }}
                {{ form_widget(form.time, {'attr': {'class': attr.widget_class|default('')}, 'horizontal_input_wrapper_class': horizontal_input_wrapper_class|default('col-lg-2')}) }}
                {{ block('form_message') }}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock datetime_widget %}

{% block date_widget %}
    {% spaceless %}
        {% if widget == 'single_text' %}
            {% if datepicker is defined %}
                <div data-provider="datepicker" class="input-group date" data-date="{{ value }}" data-link-field="{{ id }}" data-link-format="yyyy-mm-dd">
                    <input class="form-control" type="text" {% if read_only %} readonly="readonly"{% endif %}{% if disabled %} disabled="disabled"{% endif %}{% if required %} required="required"{% endif %}>
                    <input type="hidden" value="{{ value }}" {{ block('widget_attributes') }}>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar icon icon-calendar"></span></span>
                </div>
            {% else %}
                {{ block('form_widget_simple') }}
            {% endif %}
        {% else %}
            {% set attr = attr|merge({'class': attr.class|default('inline')}) %}
            <div class="row">
                {{ date_pattern|replace({
                '{{ year }}':  form_widget(form.year, {'attr': {'class': attr.widget_class|default('') ~ ''}, 'horizontal_input_wrapper_class': horizontal_input_wrapper_class|default('col-lg-3')}),
                '{{ month }}': form_widget(form.month, {'attr': {'class': attr.widget_class|default('') ~ ''}, 'horizontal_input_wrapper_class': horizontal_input_wrapper_class|default('col-lg-3')}),
                '{{ day }}':   form_widget(form.day, {'attr': {'class': attr.widget_class|default('') ~ ''}, 'horizontal_input_wrapper_class': horizontal_input_wrapper_class|default('col-lg-3')}),
                })|raw }}
            </div>
            {{ block('form_message') }}
        {% endif %}
    {% endspaceless %}
{% endblock date_widget %}

{% block checkbox_widget %}
    {% spaceless %}
        {% if ace %}
            {% set attr = attr|merge({'class': attr.class|default('') ~ ' ace'}) %}
        {% endif %}
        {% if label is not sameas(false) and label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        {% if form.parent != null and 'choice' not in form.parent.vars.block_prefixes %}
            <div class="checkbox">
        {% endif %}

        {% if form.parent != null and 'choice' not in form.parent.vars.block_prefixes and label_render %}
        <label {% if not horizontal %}class="checkbox-inline"{% endif %}>
        {% endif %}
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %}/>
        {% if form.parent != null and 'choice' not in form.parent.vars.block_prefixes %}
        {% if label_render and widget_checkbox_label in ['both', 'widget'] %}
        {{ label|trans({}, translation_domain) }}
        <span class="lbl"></span>
        </label>
        {% elseif ace %}
            <span class="lbl">&nbsp;{{ ace_label|trans({}, translation_domain) }}</span>
        {% endif %}
        {% endif %}
        {% if form.parent != null and 'choice' not in form.parent.vars.block_prefixes %}
            </div>
            {{ block('form_message') }}
        {% endif %}
    {% endspaceless %}
{% endblock checkbox_widget %}


{% block file_widget %}
    {% spaceless %}
        {% set type = type|default('file') %}
        {% set attr = attr|merge({'class': attr.class|default('') ~ ' ' ~ widget_form_control_class}) %}
        {% if widget_addon_prepend|default(null) is not null %}
            {% set widget_addon = widget_addon_prepend %}
            {{ block('widget_addon') }}
        {% endif %}
        <div class="ace-file-input">
            <input type="{{ type }}" {{ block('widget_attributes') }}/>
        </div>
        {% if type != 'hidden' and  widget_addon.type|default(null) is not null %}
            {% if widget_addon_append|default(null) is not null %}
                {% set widget_addon = widget_addon_append %}
                {{ block('widget_addon') }}
            {% endif %}
        {% endif %}
        {% if horizontal %}
            {{ block('form_message') }}
        {% endif %}
    {% endspaceless %}
{% endblock file_widget %}